@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* Header */

.header {
    height: 100px;
    border-bottom: 1px solid #ececec;
}

.headers {
    height: inherit;
    /* background: lightgreen; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 165px;
    line-height: 51px;
    background: url(../img/logo.png) no-repeat;
    font-size: 27px;
    font-weight: 300;
    padding-left: 60px;
}

.logo span {
    color: #f16d7f;
    font-weight: 400;
}

.search {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    overflow: hidden;
}

.searchIcon {
    height: inherit;
    padding: 12px;
    font-size: 14px;
    color: #222222;
    background-color: #f9f9f9;
    box-sizing: border-box;
    border-right: 1px solid #e6e6e6;
}

.search input {
    height: inherit;
    padding: 0 3px;
    border: none;
    outline: none;
}

.search button {
    height: inherit;
    padding: 0 8px;
    border: 0;
    background: none;
    border-left: 1px solid #e6e6e6;
}

.headerBasket {
    margin-left: auto;
    margin-right: 25px;
}

.accountBtn {
    padding: 15px;
    background-color: #f16d7f;
    color: white;
    border: none;
}

/* header nav */

.Navigation {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navigation a:not(:last-child) {
    margin-right: 45px;
}

.Navigation a {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #222222;
}

.Navigation a:hover {
    color: #f16d7f;
}

/* main screen */

.mainScreen {
    height: 610px;
    background-color: #e8e8e8;
}

.mainScreenContent {
    height: inherit;
    background: url(../img/topHeaderBack.png) no-repeat 554px 0;
    background-size: 550px;
    display: flex;
    align-items: center;
}

.mainScreenTitle {
    height: 92px;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.mainScreenTitle div:first-child {
    font-weight: 900;
    font-size: 60px;
    line-height: 41px;
}

.mainScreenTitle div:last-child {
    font-weight: 400;
    font-size: 40px;
    line-height: 32px;
    margin-top: 19px;
}

/* offers */

.offers {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 829px;
}

.offers > div:first-child {
    margin-bottom: 20px;
    margin-right: 20px;
}

.offers > div {
    position: relative;
}

.offers .label {
    position: absolute;
    top: 25px;
    padding: 15px 20px;
    background: white;
    text-transform: uppercase;
}

.labelTop {
    font-size: 18px;
    color: #222222;
    font-weight: 700;
}

.labelBottom {
    font-size: 30px;
    color: #f16d7f;
    font-weight: 900;
}